In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/fake-news/test.csv
/kaggle/input/fake-news/train.csv
/kaggle/input/fake-news/submit.csv

### Loading the dataset

In [2]:
df=pd.read_csv('../input/fake-news/train.csv')

In [3]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
X=df.drop('label',axis=1)

In [5]:
X.head()

,id,title,author,text
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ..."
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...

In [6]:
y=df['label']

In [7]:
df=df.dropna()

In [8]:
df.head(10)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
7,7,Benoît Hamon Wins French Socialist Party’s Pre...,Alissa J. Rubin,"PARIS — France chose an idealistic, traditi...",0
9,9,"A Back-Channel Plan for Ukraine and Russia, Co...",Megan Twohey and Scott Shane,A week before Michael T. Flynn resigned as nat...,0
10,10,Obama’s Organizing for Action Partners with So...,Aaron Klein,"Organizing for Action, the activist group that...",0
11,11,"BBC Comedy Sketch ""Real Housewives of ISIS"" Ca...",Chris Tomlinson,The BBC produced spoof on the “Real Housewives...,0

In [9]:
message=df.copy()

In [10]:
message=message.reset_index()

In [11]:
message.head(10)

,index,id,title,author,text,label
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
6,7,7,Benoît Hamon Wins French Socialist Party’s Pre...,Alissa J. Rubin,"PARIS — France chose an idealistic, traditi...",0
7,9,9,"A Back-Channel Plan for Ukraine and Russia, Co...",Megan Twohey and Scott Shane,A week before Michael T. Flynn resigned as nat...,0
8,10,10,Obama’s Organizing for Action Partners with So...,Aaron Klein,"Organizing for Action, the activist group that...",0
9,11,11,"BBC Comedy Sketch ""Real Housewives of ISIS"" Ca...",Chris Tomlinson,The BBC produced spoof on the “Real Housewives...,0

### Performing the text preprocessing

In [12]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re

In [13]:
len(message)

18285

In [15]:
corpus=[]
for i in range(0,len(message)):
    text=re.sub('[^a-zA-Z]',' ', message['title'][i])
    text=text.lower()
    text=text.split()
    text=[PorterStemmer().stem(word) for word in text if not word in stopwords.words('english')]
    text=' '.join(text)
    corpus.append(text)

In [16]:
y=message['label']

# Text Preprocessing and Embedding Representation

In [17]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import one_hot

In [20]:
vocab_size=5000

In [22]:

onehot_representation=[one_hot(words,vocab_size) for words in corpus]

In [24]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [25]:
sent_length=20
embedded_docs=pad_sequences(onehot_representation,padding='pre',maxlen=sent_length)

# Creating model

In [51]:
embedding_vector_features=40
model=tf.keras.models.Sequential()
model.add(tf.keras.layers.Embedding(vocab_size,embedding_vector_features,input_length=sent_length))
model.add(tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(100)))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['acc'])
print(model.summary())

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_6 (Embedding)      (None, 20, 40)            200000
_________________________________________________________________
bidirectional_4 (Bidirection (None, 200)               112800
_________________________________________________________________
dropout_2 (Dropout)          (None, 200)               0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 201
=================================================================
Total params: 313,001
Trainable params: 313,001
Non-trainable params: 0
_________________________________________________________________
None

In [52]:
X_final=np.array(embedded_docs)
y_final=np.array(y)

In [53]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_final,y_final,test_size=0.33,random_state=42)

# Model Training

In [54]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=20,batch_size=64,verbose=1)

Epoch 1/20
192/192 [==============================] - 3s 14ms/step - loss: 0.2990 - acc: 0.8596 - val_loss: 0.2025 - val_acc: 0.9143
Epoch 2/20
192/192 [==============================] - 2s 11ms/step - loss: 0.1415 - acc: 0.9476 - val_loss: 0.2354 - val_acc: 0.9140
Epoch 3/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0996 - acc: 0.9649 - val_loss: 0.2234 - val_acc: 0.9147
Epoch 4/20
192/192 [==============================] - 2s 11ms/step - loss: 0.0701 - acc: 0.9761 - val_loss: 0.2673 - val_acc: 0.9128
Epoch 5/20
192/192 [==============================] - 2s 12ms/step - loss: 0.0478 - acc: 0.9860 - val_loss: 0.3318 - val_acc: 0.9059
Epoch 6/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0314 - acc: 0.9904 - val_loss: 0.3893 - val_acc: 0.9095
Epoch 7/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0201 - acc: 0.9949 - val_loss: 0.4539 - val_acc: 0.9077
Epoch 8/20
192/192 [==============================] - 2s 12ms/step - loss: 0.0150 - acc: 0.9957 - val_loss: 0.5082 - val_acc: 0.9074
Epoch 9/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0117 - acc: 0.9976 - val_loss: 0.5932 - val_acc: 0.9051
Epoch 10/20
192/192 [==============================] - 2s 11ms/step - loss: 0.0120 - acc: 0.9973 - val_loss: 0.4956 - val_acc: 0.9062
Epoch 11/20
192/192 [==============================] - 2s 11ms/step - loss: 0.0105 - acc: 0.9973 - val_loss: 0.6727 - val_acc: 0.9057
Epoch 12/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0138 - acc: 0.9966 - val_loss: 0.5658 - val_acc: 0.9097
Epoch 13/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0078 - acc: 0.9979 - val_loss: 0.6496 - val_acc: 0.9052
Epoch 14/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0063 - acc: 0.9985 - val_loss: 0.6486 - val_acc: 0.9029
Epoch 15/20
192/192 [==============================] - 2s 11ms/step - loss: 0.0090 - acc: 0.9978 - val_loss: 0.6349 - val_acc: 0.9037
Epoch 16/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0085 - acc: 0.9976 - val_loss: 0.5756 - val_acc: 0.8993
Epoch 17/20
192/192 [==============================] - 2s 11ms/step - loss: 0.0075 - acc: 0.9982 - val_loss: 0.5749 - val_acc: 0.9062
Epoch 18/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0043 - acc: 0.9989 - val_loss: 0.6413 - val_acc: 0.9070
Epoch 19/20
192/192 [==============================] - 2s 10ms/step - loss: 0.0017 - acc: 0.9996 - val_loss: 0.6857 - val_acc: 0.9059
Epoch 20/20
192/192 [==============================] - 2s 11ms/step - loss: 0.0036 - acc: 0.9994 - val_loss: 0.6765 - val_acc: 0.9044