## 1. Importing Libraries

In [7]:
import pandas as pd
import sys
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical
from keras.utils.vis_utils import plot_model

## 2. Loading the Data

In [6]:
train_df = pd.read_csv('./data/hourly_wages_data.csv', header=0, index_col = None)

# View the data
train_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

## 3. Preprocessing

In [8]:
train_X = train_df.drop(columns = ['wage_per_hour'])

train_y = train_df[['wage_per_hour']]

## 4. Model Building

In [9]:
model = Sequential()

n_cols = train_X.shape[1]

model.add(Dense(10, activation='relu', input_shape = (n_cols, )))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mse'])

early_stopping_monitor = EarlyStopping(patience = 3)

In [10]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                100
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 221
Trainable params: 221
Non-trainable params: 0
_________________________________________________________________

In [12]:
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor]);

Epoch 1/30
14/14 [==============================] - 0s 9ms/step - loss: 18.5951 - mse: 18.5951 - val_loss: 32.2363 - val_mse: 32.2363
Epoch 2/30
14/14 [==============================] - 0s 11ms/step - loss: 18.5565 - mse: 18.5565 - val_loss: 32.5047 - val_mse: 32.5047
Epoch 3/30
14/14 [==============================] - 0s 10ms/step - loss: 18.5934 - mse: 18.5934 - val_loss: 32.0555 - val_mse: 32.0555
Epoch 4/30
14/14 [==============================] - 0s 9ms/step - loss: 18.5087 - mse: 18.5087 - val_loss: 32.2733 - val_mse: 32.2733
Epoch 5/30
14/14 [==============================] - 0s 9ms/step - loss: 18.4682 - mse: 18.4682 - val_loss: 31.3943 - val_mse: 31.3943
Epoch 6/30
14/14 [==============================] - 0s 8ms/step - loss: 18.4408 - mse: 18.4408 - val_loss: 32.2290 - val_mse: 32.2290
Epoch 7/30
14/14 [==============================] - 0s 10ms/step - loss: 18.4955 - mse: 18.4955 - val_loss: 33.0704 - val_mse: 33.0704
Epoch 8/30
14/14 [==============================] - 0s 9ms/step - loss: 18.4479 - mse: 18.4479 - val_loss: 31.8127 - val_mse: 31.8127