## Importing Libraries

In [46]:
import tensorflow as tf
from keras import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical
import pandas as pd

In [6]:
data_train = pd.read_csv('./data/diabetes_data.csv')

In [8]:
# Overview of the data
data_train.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [16]:
X_train = data_train.drop('diabetes', axis=1)
X_train.head()

   pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0            6      148         72       35        0  33.6  0.627   50
1            1       85         66       29        0  26.6  0.351   31
2            8      183         64        0        0  23.3  0.672   32
3            1       89         66       23       94  28.1  0.167   21
4            0      137         40       35      168  43.1  2.288   33

In [12]:
y_train = data_train[['diabetes']]
y_train.head()

   diabetes
0         1
1         0
2         1
3         0
4         1

In [14]:
# One hot encode the labels
y_train_onehot = to_categorical(y_train)

In [47]:
## Model
def make_model(input_shape):
    model = Sequential()

    model.add(Dense(128, activation='relu', input_shape=(input_shape,)))
    model.add(Dense(64, activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(32, activation='relu'))
    model.add(Dense(1, activation='sigmoid'))

    return model

In [48]:
n_cols = X_train.shape[1]
model = make_model(n_cols)
epochs = 30
early_stopping_monitor = EarlyStopping(patience = 3)

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=epochs,
          validation_split=0.2, verbose=1, callbacks=[early_stopping_monitor])

Epoch 1/30
20/20 [==============================] - 0s 14ms/step - loss: 3.2671 - accuracy: 0.5554 - val_loss: 1.5751 - val_accuracy: 0.5909
Epoch 2/30
20/20 [==============================] - 0s 7ms/step - loss: 1.7133 - accuracy: 0.6254 - val_loss: 0.9737 - val_accuracy: 0.4935
Epoch 3/30
20/20 [==============================] - 0s 7ms/step - loss: 1.1911 - accuracy: 0.5749 - val_loss: 0.7497 - val_accuracy: 0.5974
Epoch 4/30
20/20 [==============================] - 0s 7ms/step - loss: 0.9638 - accuracy: 0.6352 - val_loss: 0.9134 - val_accuracy: 0.6169
Epoch 5/30
20/20 [==============================] - 0s 7ms/step - loss: 0.7546 - accuracy: 0.6531 - val_loss: 0.6920 - val_accuracy: 0.6364
Epoch 6/30
20/20 [==============================] - 0s 7ms/step - loss: 0.7394 - accuracy: 0.6580 - val_loss: 0.6788 - val_accuracy: 0.6299
Epoch 7/30
20/20 [==============================] - 0s 7ms/step - loss: 0.7512 - accuracy: 0.6498 - val_loss: 0.6356 - val_accuracy: 0.6039
Epoch 8/30
20/20 [==============================] - 0s 7ms/step - loss: 0.6601 - accuracy: 0.6857 - val_loss: 0.6833 - val_accuracy: 0.6429
Epoch 9/30
20/20 [==============================] - 0s 7ms/step - loss: 0.6194 - accuracy: 0.6840 - val_loss: 0.6778 - val_accuracy: 0.6299
Epoch 10/30
20/20 [==============================] - 0s 7ms/step - loss: 0.6534 - accuracy: 0.6678 - val_loss: 0.6290 - val_accuracy: 0.6494
Epoch 11/30
20/20 [==============================] - 0s 7ms/step - loss: 0.6117 - accuracy: 0.6906 - val_loss: 0.6096 - val_accuracy: 0.6883
Epoch 12/30
20/20 [==============================] - 0s 7ms/step - loss: 0.6261 - accuracy: 0.6873 - val_loss: 0.6073 - val_accuracy: 0.6883
Epoch 13/30
20/20 [==============================] - 0s 7ms/step - loss: 0.5802 - accuracy: 0.7085 - val_loss: 0.6431 - val_accuracy: 0.6039
Epoch 14/30
20/20 [==============================] - 0s 7ms/step - loss: 0.5875 - accuracy: 0.6840 - val_loss: 0.6331 - val_accuracy: 0.6558
Epoch 15/30
20/20 [==============================] - 0s 7ms/step - loss: 0.5816 - accuracy: 0.7003 - val_loss: 0.6117 - val_accuracy: 0.6623

In [49]:
model.summary()

Model: "sequential_20"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_78 (Dense)             (None, 128)               1152
_________________________________________________________________
dense_79 (Dense)             (None, 64)                8256
_________________________________________________________________
dropout (Dropout)            (None, 64)                0
_________________________________________________________________
dense_80 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_81 (Dense)             (None, 1)                 33
=================================================================
Total params: 11,521
Trainable params: 11,521
Non-trainable params: 0
_________________________________________________________________