# 20 Panda Functions to boost Data Analysis

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd

In [ ]:
# Sample DataFrame
values_1 = np.random.randint(10, size = 10)
values_2 = np.random.randint(10, size = 10)
years = np.arange(2010, 2020)
groups = ['A','A','B','A','B','B','C','A','C','C']

df = pd.DataFrame ({'group' : groups, 'year': years, 'value_1':values_1, 'value_2':values_2})

df

## 1. Query
Filter a dataframe based on a condition or apply a mask to get certain values.

In [3]:
df.query('value_1 < value_2')

  group  year  value_1  value_2
1     A  2011        2        9
6     C  2016        4        9
7     A  2017        8        9

## 2. Insert
Used to add a new column to a dataframe, at any location using insert function.

We need to specify the position by passing an **index** as first argument, **column name** as second argument and **series** or **array-like** object as third argument.

In [ ]:
# New Column
new_col = np.random.randn(10)

# Insert the new columns at position 2
df.insert(2, 'new_col', new_col)